body {
  background-color: #1644c4e0;
}

.main {
  width: 1000px;
  height: 500px;
  margin-left: 170px;
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: white;
  color: #000;
  box-shadow: 1px 1px 2px 2px #000;
  display: flex;
  flex-direction: row;
}

.left {
  flex: 40%;
  width: 200px;
  height: 500px;
  padding-top: 10px;
}

.logo {
  width: 50px;
  height: 35px;
  margin-top: 10px;
  margin-left: 100px;
  vertical-align: bottom;
}

mindverse {
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  font-family: Comic Sans MS;
}

p4 {
  margin-left: 110px;
  font-size: 25px;
  font-family: Segoe UI Black;
}

.login1 {
  margin-left: 50px;
}

.google {
  width: 300px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
}

.google .fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-right: 50px;
  font-size: 20px;
}

.google p1 {
  margin-right: 50px;
  color: #000;
  font-size: 15px;
  margin-bottom: 2px;
}

p2 {
  font-size: 15px;
  margin-left: 50px;
  color: gray;
}

label {
  font-size: 17px;
  margin-left: 50px;
}

.p1 {
  width: 300px;
  height: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border-width: 1px;
}

.keep {
  margin-left: 50px;
  width: 10px;
  height: 10px;
}

p3 {
  font-size: 13px;
}

.forgot {
  margin-left: 70px;
  font-size: 13px;
  color: red;
  transition: all 0.2s ease;
}

.forgot:hover {
  color: #000;
}

.log {
  margin-left: 50px;
  color: #fff;
}

.p4 {
  width: 305px;
  height: 30px;
  background-color: #0044ff;
  box-shadow: 1px 1px 1px -1px black;
  border-radius: 7px;
  font-size: 18px;
  font-family: Franklin Gothic;
  border-width: 1.5px;
  transition: all 0s ease;
  color: #000;
}

.p4:hover {
  background-color: #030b3a;
  color: #fff;
  font-size: 19px;
}

p5 {
  margin-left: 100px;
  font-size: 15px;
}

.p5 {
  color: red;
  transition: all 0.2s ease;
}

.p5:hover {
  color: #000;
}

.right {
  flex: 60%;
  background-image: url(../Img/Login-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
